.whole-board{
    width:530px;
}
.updown-board{
    width: 100%;
}
.updown-button{
    width:100%;
    height: 50px;
    border-radius: 5px;
}

.mid-board{
    display:flex;
}
.leftright-button{
   border-radius: 5px;
   width: 60px; 
}

